.fav-btn {
  aspect-ratio: 1/1;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgb(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
}

.fav-btn:hover {
  background-color: rgb(0, 0, 0, 0.6);
}

.fav-btn:active {
  color: black;
}

.fav-btn:disabled {
  cursor: initial;
  color: red;
}

.fav-btn:disabled:hover {
  background-color: rgb(0, 0, 0, 0.3);
}