ul {
  margin: 20px 40% 10px 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgb(209, 209, 209);
}

li a:hover {
  color: white;
  text-decoration: underline;
}

li a:active {
  color: gray;
}